{% extends 'base.html' %}
{% load static %}

{%block style%}
<link rel="stylesheet" href="{% static 'autentikasi/css/autentikasi.css' %}">
<title> Register </title>
{%endblock style%}

{% block content %}
<section id="register">
  <div class="container register d-flex justify-content-center align-items-center">
    <div class="row register my-5 shadow">
        <div class="col-md-6 text-center text-white lcol">
            <div class="greeting">
                <h3 class="font-weight-bold">Welcome</h3>
                <h6 class="font-weight-light">Belum punya akun?</h6>
                <a href="{% url 'autentikasi:register'%}">
                    <button id="button-sign-in" type="button" class="mt-5 btn btn-light">Register</button>
                </a>
            </div>
            <div class="col">
              <img id="panda-welcome" src="{% static 'autentikasi/img/PandaWelcome.png' %}" alt="LOGO-PANPACATION">	
            </div>
        </div>
        <div class="col-md-6 rcol d-flex justify-content-center align-items-center">
            <form class="sign-up" action="{% url 'autentikasi:login'%}" method="POST">
                {% csrf_token %}
                <h2 class="heading mb-4">Log In</h2>
                <div class="form-group fone mt-2"> 
                    <i class="fas fa-envelope"></i> 
                    <input name="email" type="email" class="form-control" placeholder="Email"> 
                </div>
                <div class="form-group fone mt-2"> <i class="fas fa-lock"></i> 
                    <input name="password" type="password" class="form-control" placeholder="Password">
                    <div class="image"><i class="fas fa-eye"></i>
                    </div>
                <div class="col">
                    <p style="font-size: 10px;" class="text-left">{{error}}</p>
                  <button type="submit" class="btn btn-success mt-5">Log In</button>
                </div>
            </form> 
        </div>
    </div>
</div>
</section>
{% endblock content %}