.text-kiri {
    text-align: left;
}

.garis-bawah {
    border-bottom: 2px solid black;
}

.check-box-center {
    top:6px;
    height: 18px;
    width: 18px;
    margin-left: 2px;
    margin-right: 2px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tombol-tengah {
    display: block;
    margin: 0 auto;
}


th, td {
    padding: 10px;
    text-align: left;
    max-width:max-content;
}
  