{% extends 'base2.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/universal.css' %}" /> 
{% endblock css %}
        
{% block title %}
Metode Bayar
{% endblock title%}

{% block content %}
<br><br><br><br>

<div class="container py-5">
    <!-- Rincian Pembayaran -->
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white shadow-sm p-5">
                <h1>Rincian Pembayaran</h1>
                <br><br>
                <!-- ubah sesuai data yg ada {{ data.}}-->
                <table style="font-size: 20px;color:#6C757D;">
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Nama Pemesan</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ nama_pemesan }}</h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Nama Penginapan</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ nama_penginapan }} </h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Tanggal Check In</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ tgl_checkin }} </h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Tanggal Check Out</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ tgl_checkout }} </h6>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <h6 style="text-align: left;margin-left: 20px;"><br>Durasi</h6>
                        </td>
                        <td>
                          <h6 style="text-align: left;margin-left: 20px;"><br>{{ durasi }} </h6>
                        </td>
                    </tr>
                  </table>

                  <table>
                    <tr>
                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>Total Harga Penginapan</h5>
                            
                        </td>
                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>{{ total_harga_penginapan }}</h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>Total Harga Test Covid</h5>
                            
                        </td>

                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>{{ total_test_covid }}</h5>
                            
                        </td>
                    </tr>
                    
                  </table>
                  <h3 style="text-align: right;">Total Harga</h3>
                    <h1 style="text-align: right;"> {{ total_semua }}</h1>
                <br>
                
            </div>
        </div>
        
    </div>
    <br><br>

    <!-- Metode Pembayaran -->
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <!-- Tab Metode Pembayaran -->
                <h1 >Metode Pembayaran</h1>
                <br><br>
                <ul role="tablist" class="nav bg-light nav-pills nav-fill ">
                    <li class="nav-item">
                        <a data-toggle="pill" href="#nav-tab-card" class="nav-link active" style="border-radius: 0px;">
                        <i class="fa fa-credit-card"></i>
                            Virtual Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="pill" href="#nav-tab-bank" class="nav-link" style="border-radius: 0px;">
                        <i class="fa fa-university"></i>
                            Bank Transfer
                        </a>
                    </li>
                </ul>

                <!-- ISI DARI TAB -->
                <div class="tab-content">

                    <!-- VIRTUAL ACCOUNT -->
                    <div id="nav-tab-card" class="tab-pane fade show active">
                        <br>
                        <h4>Virtual Account Pembayaran:</h4>
                        <dl>
                        <dt>No. VA</dt>
                        <dd>121 {{ no_telp }}</dd>
                            <br><br>

                            <!-- SELESAI: redirect ke receipt-->
                            <form action='' method="POST">
                                {% csrf_token %}
                                <button type="submit" class="button" name="selesaiva" value="va" style="font-size: 15px;padding: 10spx 80px; text-align: right;float:right">
                                    Selesai
                                </button>
                            </form> 

                            <!-- KEMBALI: redirect ke buat pesanan-->
                           
                            <a href="{% url 'pembayaran:buatpesanan' id_penginapan=id_penginapan tgl_checkin=tgl_checkin tgl_checkout=tgl_checkout total_penginap=total_penginap %}">
                                <input type="button" class="buttonB" value="Kembali" style="font-size: 15px;padding: 10spx 80px; text-align: right;float:right">
                            </a>                             
                            
                            <br><br><br>
                        </dl>
                    </div>
                    <!-- End -->
    

                    <!-- BANK TRANSFER -->
                    <div id="nav-tab-bank" class="tab-pane fade">
                        <br>
                        <h4>Transfer ke Akun Bank:</h4>
                        <dl>
                            <dt>Nama Bank</dt>
                            <dd>THE PACBANK</dd>
                        </dl>
                        <dl>
                            <dt>Atas Nama</dt>
                            <dd>Panpac Company</dd>
                        </dl>
                        <dl>
                            <dt>Nomor Rekening</dt>
                            <dd>101281212192</dd>
                            
                            <!-- SELESAI: redirect ke receipt -->
                            <form action='' method="POST">
                                {% csrf_token %}
                                <button type="submit" class="button" name="selesaibank" value="bank" style="font-size: 15px;padding: 10spx 80px; text-align: right;float:right">
                                    Selesai
                                </button>
                            </form> 

                            <!-- KEMBALI: redirect ke buat pesanan-->
                           
                            <a href="{% url 'pembayaran:buatpesanan' id_penginapan=id_penginapan tgl_checkin=tgl_checkin tgl_checkout=tgl_checkout total_penginap=total_penginap %}">
                                <input type="button" class="buttonB" value="Kembali" style="font-size: 15px;padding: 10spx 80px; text-align: right;float:right">
                            </a>                             
                                                   
                        </dl>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
  
<br><br>


{% endblock content %}

{% block js %}
  
{% endblock js %}