{% extends 'base2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/universal.css' %}" /> 
{% endblock css %}

{% block title %}
Receipt
{% endblock title%}

{% block content %}
<br><br><br><br>

<div class="container py-5">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="bg-white shadow-sm p-5">
                
                <center>
                    <span class="fa fa-check-circle fa-6x" style="color: #FF96AD;"></span>
                </center>
                <br>
                <h1>Transaksi Berhasil!</h1><br>
                <br>

                <h4>Rincian Pembayaran</h4>

                <table style="font-size: 20px;color:#6C757D;">
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Nama Pemesan</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ nama_pemesan }}</h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Nama Penginapan</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ nama_penginapan }} </h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Tanggal Check In</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ tgl_checkin }} </h6>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>Tanggal Check Out</h6>
                      </td>
                      <td>
                        <h6 style="text-align: left;margin-left: 20px;"><br>{{ tgl_checkout }} </h6>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <h6 style="text-align: left;margin-left: 20px;"><br>Durasi</h6>
                        </td>
                        <td>
                          <h6 style="text-align: left;margin-left: 20px;"><br>{{ durasi }} </h6>
                        </td>
                    </tr>
                  </table>

                  <table>
                    <tr>
                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>Total Harga Penginapan</h5>
                            
                        </td>
                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>{{ total_harga_penginapan }}</h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>Total Harga Test Covid</h5>
                            
                        </td>

                        <td>
                            <h5 style="text-align: left;margin-left: 20px;"><br>{{ total_test_covid }}</h5>
                            
                        </td>
                    </tr>
                    
                  </table>
                  <h3 style="text-align: right;">Total Harga</h3>
                    <h1 style="text-align: right;"> {{ total_semua }}</h1>
                <br>

            </div>
            <br>

            <!-- KEMBALI: redirect ke list pesanan-->
            <a href="http://www.google.com/">
                <input type="button" class="button" value="Selesai" style="font-size: 20px;padding: 10px 60px; text-align: right;float:right">
            </a>          
        </div>
        
    </div>
    </div>
    </div>
    </div>

</div>
    
  
  
<br><br><br>
{% endblock content %}

{% block js %}
<script src="{% static 'js/receipt.js' %}"></script>
{% endblock js %}